.post-grid {
    display: grid;
    margin: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.post {
    width: 100%;
    background-color: var(--secondary-colour);
    border-radius: 2rem;
    justify-content: space-between;
    display: flex;    
}

.post-title{
    margin: 1.5rem 1rem;
    font-size: 2rem;
}

.post-name{
    margin: 0;

}

.post-user{
    margin: 0 1rem;
    display: flex;
    align-content: center;
    gap: 1rem;
}

.post-user-texts{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.post-img{
    width:  3rem;
    height: 3rem;
    background-color: var(--highlight-colour);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-mail{
    margin-top: 0;
    text-align: right;
    font-size: 0.8rem;
    color: var(--heading-colour);
}

.post-text {
    margin: 0 1rem;
    padding: 0.5rem 0;
    text-align: left;
}

.post-details {
    display: inline-block;
    background-color: var(--highlight-colour);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    color: var(--heading-colour);
}

.post-reactions {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.post-tags{
    margin: 0.3rem 1rem;
}

.post-comment-section {
    width: 100%;
    padding: 1rem;
    border-top: 4px dotted var(--heading-colour);
   /* background-color: var(--primary-hover);*/
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: auto; /* Pushes to bottom */
}

.post-comment {
    border: 3px solid var(--warning-colour);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.5rem;

}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-in-text{
    margin: 0 0.5rem;
}

@media (min-width: 1800px) {
    .post {
            display: flex;
        }

        .post-comment-section {
            margin-top: 0;
            margin-bottom: auto;
        }
}

@media (max-width: 1800px) {
    .post {
            flex-direction: column;
        }
}

@media (max-width: 768px) {
    .post-grid {
            grid-template-columns: 1fr;
        }
}